<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Banco Alimentario | Trabajo de promoción 2015 | Couso, Cuitiño, Olsowy {% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('estiloPrincipal.css') }}">
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		
    </head>
    <body>
	
		<!---- Por ahora copio y pego este header del cabeceraBackend.html.twig del proyecto anterior. -->
		<!---- Esto seguramente debería ponerse aparte y "conectarse" con login y logout de FoS -->
		<header>
			<img id="logo" src="{{ asset('logo_web.jpg') }}" alt="Banco Alimentario La Plata">  
		  
		  
			<div id="Usuario">
				{%if user is defined and user%}
					<a class="botonLogOut" href="../logout">Logout</a>	
						<h4 id="id-usuario"> Bienvenido  {{user.username}} </h4>
				{%else%}
					<a class="botonLogOut" href="../login">Login</a>	
				{%endif%}
			</div>
			
			
		</header>
		<!-- fin del header copypasteado -->
		{% include "UserBundle:User:menuAdmin.html.twig" %}

				
	{#	{%if user is defined%}
			{%if user.group=='admin'%}
				{% include "UserBundle:User:menuAdmin.html.twig" %}
				
			{%elseif user.group=='gestion'%}
				{% include "UserBundle:User:menuGestion.html.twig" %}
				
			{%elseif user.group=='consulta' %}
				{% include "UserBundle:User:menuConsulta.html.twig" %}
				
			{%endif%}
		{%endif%} #}
		
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
